<div class="row" ng-controller="ForgotController as rsCtrl">
  <div class="col-sm-12">
    <div class="jumbotron" style="height: 100%;">
        <!-- Material form login -->
        <form name="forgotForm" ng-submit = "rsCtrl.submitForgotForm(forgotForm)" novalidate>
          <p class="h3 text-center mb-4">Enter Your Email</p>
          <!-- Material input email -->
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input name="email" ng-model = "rsCtrl.reset.email" type="email" id="materialFormLoginEmailEx" class="form-control" required="">
            <label for="materialFormLoginEmailEx">Your email <strong class="saffText">*</strong></label>
              <p ng-show="forgotForm.email.$invalid && !forgotForm.email.$pristine" class="font-small error-alert text-center d-flex justify-content-center mb-3 pt-2"> email must be valid.</p>

          </div>
          <div class="text-center mt-4">
            <input ng-disabled = "rsCtrl.loading" class="btn btn-lg mdb-color" type="submit">
          </div>
          <div class="text-center mt-4">
              <div class="loader" ng-show="rsCtrl.loading"></div>
          </div>
        </form>

      </div>
    </div>
  </div>
